body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  padding: 0; }

p {
  padding: 0;
  margin: 0; }

.concent, .xiala p, .neirong .quanquan, .qiye .qiye2 p, .dibu .dibu1 p, footer {
  display: flex;
  justify-content: center;
  align-items: center; }

.concent1, header, header span, .neirong .neirong2 .neirong3, .neirong .neirong2 .neirong3 span, .neirong .neirong2 .neirong3 p, .neirong .neirong4, .neirong .neirong9, .neirong .neirong9 .neirong6, .neirong .neirong8 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }

.concent3, .dibu .dibu2 .p2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.concent4, .qiye {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row; }

.concent2, .daohang1 button {
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.left, .play, .neirong .neirong1 .neirong3 span, .neirong .neirong2, .qiye .qiye1, .qiye .qiye2 ul li, .dibu, .dibu .dibu2 p {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.right, .daohang1 {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.column, .neirong, .neirong .neirong1, .neirong .neirong1 .neirong2, .neirong .neirong1 .neirong3, .neirong .neirong4 .neirong5, .qiye .qiye2, .qiye .qiye3 .qiye4, .qiye .qiye3 .qiye4 li, .dibu .dibu3, h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.column1, .daohang2 button, .dibu .dibu1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start; }

.column2, .qiye .qiye3, .dibu .dibu2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }

header {
  width: 100%;
  height: 2em;
  color: #29b078; }
  header span li {
    display: inline-block; }

.daohang1 {
  padding-right: 10%;
  line-height: 4em;
  width: 90%;
  display: none;
  height: 4em;
  color: #ffffff;
  background-color: #29b078; }
  .daohang1 button {
    width: 4em;
    height: 100%;
    border: none;
    padding: 0;
    background-color: #29b078;
    color: #ffffff;
    display: inline-block; }
  .daohang1 div {
    width: 3em;
    display: none;
    height: 0.3em;
    background-color: #ffffff;
    position: relative;
    top: 1.6em;
    left: 0.6em; }
  .daohang1 button:hover div {
    display: block; }

.daohang2 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 3em;
  background-color: #29b078;
  color: #ffffff;
  align-items: center;
  margin-bottom: -0.2em; }
  .daohang2 button {
    width: 3em;
    float: right;
    height: 2.5em;
    margin: 0.5em 0;
    background-color: #52ba92;
    margin-right: 1em;
    border-radius: 4px;
    border: none; }
  .daohang2 .tiao {
    width: 2em;
    height: 0.3em;
    background-color: #ffffff; }

.xiala {
  display: none;
  width: 100%;
  background-color: #29b078;
  height: auto; }
  .xiala p {
    border: 1px solid #32c086;
    width: 100%;
    height: 2em;
    line-height: 2em; }

.daohang2:hover .xiala {
  display: block; }

.play {
  width: 300vw;
  height: auto;
  position: relative;
  top: 0;
  animation: photo 12s ease-out infinite alternate; }
  .play img {
    width: 100vw;
    height: auto; }
@keyframes photo {
  0%, 33% {
    margin-left: 0px; }
  36%, 66% {
    margin-left: -100vw; }
  67%, 100% {
    margin-left: -200vw; } }
.neirong {
  width: 80%;
  height: auto;
  padding: 2em 10%;
  background-color: #fafafa; }
  .neirong .neirong1 {
    width: 100%;
    height: auto;
    margin: 0;
    flex-wrap: wrap;
    display: inline-block; }
    .neirong .neirong1 .neirong2 {
      width: 100%;
      float: left;
      height: 20em;
      padding: 0 3%; }
      .neirong .neirong1 .neirong2 li {
        display: inline-block; }
      .neirong .neirong1 .neirong2 .p1 {
        text-align: center;
        height: 5em;
        line-height: 5em;
        color: #333333; }
      .neirong .neirong1 .neirong2 .p2 {
        color: #999999;
        height: 3em; }
    .neirong .neirong1 .neirong3 {
      width: 100%;
      height: auto;
      float: left;
      padding: 0 3%; }
      .neirong .neirong1 .neirong3 span {
        width: 100%;
        height: 3em; }
        .neirong .neirong1 .neirong3 span li {
          display: inline-block; }
        .neirong .neirong1 .neirong3 span p {
          color: #29b078;
          padding-left: 1em; }
      .neirong .neirong1 .neirong3 p {
        width: 100%;
        color: #999999; }
  .neirong .neirong2 {
    width: 100%;
    height: auto;
    flex-wrap: wrap; }
    .neirong .neirong2 .neirong3 {
      width: 100%;
      height: auto;
      margin: 1em 1%; }
      .neirong .neirong2 .neirong3 span {
        height: 3em;
        width: 3em;
        display: flex;
        border-radius: 50%;
        color: #29b078;
        box-shadow: 0 0 2px #999999;
        background-color: #ffffff; }
      .neirong .neirong2 .neirong3 p {
        width: 1em;
        height: 4em;
        font-size: 14px;
        flex-grow: 1;
        color: #999999; }
  .neirong .neirong4 {
    width: 100%;
    height: auto; }
    .neirong .neirong4 .neirong5 {
      width: 100%;
      padding: 0 3%;
      margin: 2em 1%;
      height: 20em;
      background-color: #ffffff; }
      .neirong .neirong4 .neirong5 li {
        transform: scale(0.8, 0.8); }
      .neirong .neirong4 .neirong5 p {
        color: #999999; }
  .neirong .quanquan {
    width: 100%;
    height: 6em; }
    .neirong .quanquan .span1 {
      padding: 0.5em;
      background-color: #29b078;
      border-radius: 50%; }
    .neirong .quanquan .span2 {
      padding: 0.5em;
      margin-left: 0.5em;
      box-shadow: 0 0 3px #999999;
      background-color: #ffffff;
      border-radius: 50%; }
  .neirong .neirong9 {
    width: 100%;
    height: auto; }
    .neirong .neirong9 .neirong6 {
      width: 100%;
      margin-top: 1em;
      height: auto; }
  .neirong .neirong5:hover {
    box-shadow: 1px 1px 3px 3px #e2e2e2; }
  .neirong .neirong6:hover {
    box-shadow: 1px 1px 3px 3px #e2e2e2; }
  .neirong .neirong8 {
    width: 100%;
    height: auto;
    color: #999999;
    flex-wrap: wrap; }
    .neirong .neirong8 li {
      width: 50%;
      line-height: 4em;
      height: 4em;
      cursor: pointer; }

.qiye {
  width: 80%;
  height: auto;
  flex-wrap: wrap;
  padding: 0em 10% 3em 10%;
  background-color: #fafafa; }
  .qiye .qiye1 {
    width: 100%;
    height: 4em; }
    .qiye .qiye1 p {
      color: #29b078; }
  .qiye .qiye2 {
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #ededed; }
    .qiye .qiye2 p {
      height: 3em;
      width: 100%;
      border-bottom: 1px solid #ededed; }
    .qiye .qiye2 ul {
      padding: 0;
      margin: 0;
      width: 100%;
      height: auto; }
      .qiye .qiye2 ul li {
        list-style: none;
        width: 100%;
        height: 3em;
        color: #29b078;
        padding-left: 25%; }
        .qiye .qiye2 ul li .quan {
          width: 0.5em;
          height: 0.5em;
          margin-right: 1em;
          display: inline-block;
          border: 1px solid #ff640c;
          border-radius: 50%; }
      .qiye .qiye2 ul li:hover {
        color: #ff640c; }
      .qiye .qiye2 ul li:hover .quan {
        background-color: #f9a372; }
  .qiye .qiye3 {
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #ededed; }
    .qiye .qiye3 .qiye4 {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #ededed;
      flex-wrap: wrap; }
      .qiye .qiye3 .qiye4 p {
        color: #999999;
        width: 90%;
        padding: 0 10%; }
      .qiye .qiye3 .qiye4 li {
        width: 50%;
        height: 3em;
        margin: 3em auto; }
  .qiye .p1 {
    width: 90%;
    padding: 1em 5%;
    color: #999999;
    text-indent: 25px; }

.dibu {
  width: 80%;
  height: auto;
  padding: 0 10%;
  background-color: #29b078;
  color: #ffffff;
  flex-wrap: wrap; }
  .dibu .dibu1 {
    width: 100%;
    height: 12em; }
    .dibu .dibu1 p {
      height: 6em;
      cursor: pointer; }
  .dibu .dibu2 {
    width: 100%;
    height: 12em;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .dibu .dibu2 p {
      width: 100%;
      cursor: pointer;
      height: 6em; }
    .dibu .dibu2 .p1 {
      height: 6em; }
    .dibu .dibu2 .p2 {
      width: 100%;
      height: 3em;
      cursor: pointer; }
  .dibu .dibu3 {
    width: 100%;
    height: 12em; }
    .dibu .dibu3 p {
      cursor: pointer;
      height: 2em; }

footer {
  width: 100%;
  height: auto;
  background-color: #29b078;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  border-top: 1px solid #32c086; }

h3 {
  height: 5em; }

.clear {
  clear: both; }

.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.sprite-a {
  width: 43px;
  height: 62px;
  background-position: -5px -5px; }

.sprite-b {
  width: 60px;
  height: 48px;
  background-position: -58px -5px; }

.sprite-c {
  width: 52px;
  height: 55px;
  background-position: -128px -5px; }

.sprite-d {
  width: 74px;
  height: 74px;
  background-position: -190px -5px; }

.sprite-e {
  width: 20px;
  height: 20px;
  background-position: -274px -5px; }

.sprite-f {
  width: 108px;
  height: 108px;
  background-position: -304px -5px; }

.sprite-g {
  width: 108px;
  height: 108px;
  background-position: -5px -123px; }

.sprite-h {
  width: 108px;
  height: 108px;
  background-position: -123px -123px; }

.sprite-i {
  width: 108px;
  height: 108px;
  background-position: -241px -123px; }

.sprite-j {
  width: 181px;
  height: 85px;
  background-position: -5px -241px; }

.sprite-k {
  width: 181px;
  height: 85px;
  background-position: -196px -241px; }

.sprite-m {
  width: 181px;
  height: 85px;
  background-position: -5px -336px; }

.sprite-n {
  width: 181px;
  height: 85px;
  background-position: -196px -336px; }

.sprite-o {
  width: 181px;
  height: 85px;
  background-position: -422px -5px; }

.sprite-p {
  width: 92px;
  height: 92px;
  background-position: -422px -100px; }

.sprite-q {
  width: 139px;
  height: 139px;
  background-position: -387px -202px; }

.sprite-qq {
  width: 26px;
  height: 25px;
  background-position: -613px -5px; }

.sprite-s {
  width: 107px;
  height: 34px;
  background-position: -524px -100px; }

.sprite-sina {
  width: 26px;
  height: 25px;
  background-position: -613px -40px; }

.sprite-t {
  width: 10px;
  height: 10px;
  background-position: -274px -40px; }

.sprite-tudou {
  width: 126px;
  height: 39px;
  background-position: -524px -144px; }

.sprite-u {
  width: 27px;
  height: 47px;
  background-position: -359px -144px; }

.sprite-u1 {
  width: 27px;
  height: 46px;
  background-position: -536px -193px; }

.sprite-user {
  width: 13px;
  height: 13px;
  background-position: -58px -75px; }

.sprite-v {
  width: 10px;
  height: 10px;
  background-position: -81px -75px; }

.sprite-wechat {
  width: 25px;
  height: 25px;
  background-position: -101px -75px; }

.sprite-xinxin {
  width: 16px;
  height: 15px;
  background-position: -136px -75px; }

.sprite-y {
  width: 16px;
  height: 16px;
  background-position: -162px -75px; }

/*# sourceMappingURL=style1.css.map */
